[submodule "drivers/FreeRTOS-Kernel"]
	path = drivers/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "drivers/STM32CubeG0"]
	path = drivers/STM32CubeG0
	url = https://github.com/m1a2x32/STM32CubeG0.git
